body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    font-style: normal;
}

/* remove the underline for links */
a {
    text-decoration: none;
}
/* reset markers for lists */
ul {
    list-style-type: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}
/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-accent {
    color: #2E2F42;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.header-contakt {
    display: flex;
    gap: 40px;
   
}

.header-link {    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.address-link {    
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-font {
    font-style: normal;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* section 1 Title-button */
.head-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    padding-top: 188px;
    margin-bottom: 48px;
}

.head-back {
    padding: 188px 0;
}

.head-container {
   background-color: #2E2F42;
   background-image: linear-gradient(#2E2F42B2, #2E2F42B2), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding-bottom: 188px;
   /* gap: 48px; */
}

button {
    min-width: 169px;
    height: 56px;
    border: none;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    
}
.button-text:hover,
.button-text:focus {
    color: #FFF;
    background-color: #404BBF;
}

/* section 2 Feature */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature {
 margin-top: 49.5em 9.75em 150.25em 9.75em;
padding: 120px 0;

}

.feature-list {
    max-width: 1128px;
    display: flex;
    gap: 24px;
    margin-top: 120px;
}

.feature-item {
    width: calc((100%-72px)/4);

}
.feature-title {            
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 0.5rem;
}

.feature-contents {               
    font-weight: 400;
    line-height: 1.5;      
    letter-spacing: 0.32px;
    color: #434455;
}

.icon-feature { 
padding: 24px 100px;
border: 1px solid #8E8F99;
width: 264px;
height: 112px;
border-radius: 4px;
background-color: #f4f4fd;
}

/* section 3 Our Team and section 4 Our Portfolio*/

.team {
    padding: 120px 0;
    
}

.team-container {
    background-color: #F4F4FD;
    padding-top: 232px;
    padding-bottom: 120px;
}

.title-section {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;

}

.team-card {
    padding-bottom: 0px;
    margin-bottom: 2rem;
    border-radius: 0 0 4px 4px;
    outline: 2px solid blue;
    background-color: #FFFFFF;
    width: calc((100%-3*9.75rem)/4);
    gap: 2rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-content {
padding-top: 32px;
padding-bottom: 32px;
text-align: center;}

.team-list {
    display: flex;
    gap: 24px;
    
}

.title-img {     
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 8px;
}
.sub-title {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.team-soc-list {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.team-soc-icon {


}

.team-link {
    display: flex;
    gap: 24px;
    padding-top: 8px;
    margin-right: 16px;
   margin-left: 16px;
}


/* section Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.pick-content {
    padding: 32px 16px 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card {
    padding-top: 4.5rem;
    padding-bottom: 0px;
    max-width: 360px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    width: calc((100% - 48px)/3);
    
}


/* footer */

.footer {
    padding: 100px 0;
}

.footer-container {
    background-color: #2E2F42;
    
}

.text-footer{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
color: #F4F4FD;
background-color: #2E2F42;
padding-left: 156px;
max-width: 420px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 156px;
    margin-bottom: 16px;
    
}

.logo-accent-foot {
    color: #f4f4fd;
}